[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
related = "*"

[dev-packages]
"flake8" = "*"
"flake8-bugbear" = "*"
"flake8-import-order" = "*"
"flake8-tidy-imports" = "*"
"flake8-quotes" = "*"

[scripts]
lint = "python -m flake8"
